#Windows Thumbnails ignorieren
Thumbs.db

#Objektdateien ignorieren
*.o
*.a
*.x

#Kernel Ausführbare Dateien ignoriere
*.elf

#glibc nicht mit nehmen
libs/glibc/build
libs/glibc/glibc
cc/gcc-4.4.2
cc/build

#Andere unerwünschte Daten
.directory
.cproject
.project
.init.c.swp
*.c~
*.iso
*.lst~
*.asm~
*.h~
*.gen~
*~
makefile~
Makefile~
*.ld~
.gitignore~


