#Windows Thumbnails ignorieren
Thumbs.db

#Objektdateien ignorieren
*.o
*.a
*.x

#Kernel Ausführbare Dateien ignoriere
*.elf
user/ls/ls
user/cat/cat
user/ultrashell/ultrashell
user/cp/cp
user/test/test

build/ls
build/cp
build/cat
build/ultrashell
build/test

# portierungen nicht mit nehmen
bin/
cc/
download/
newlib/
build/usr
build/boot/grub/stage2_eltorito

#Andere unerwünschte Daten
.directory
.cproject
.project
.init.c.swp
*.c~
*.iso
*.lst~
*.asm~
*.h~
*.gen~
*~
*.swp
*.orig
makefile~
Makefile~
*.ld~
.gitignore~
*.sh~

