#Windows Thumbnails ignorieren
Thumbs.db

#Objektdateien ignorieren
*.o
*.a
*.x

#Kernel Ausführbare Dateien ignoriere
*.elf

# portierungen nicht mit nehmen
bin/
cc/
download/
newlib/

#Andere unerwünschte Daten
.directory
.cproject
.project
.init.c.swp
*.c~
*.iso
*.lst~
*.asm~
*.h~
*.gen~
*~
*.swp
makefile~
Makefile~
*.ld~
.gitignore~
*.sh~

